### macOS ###
*.DS_Store

### IDE (Atom/Webstorm/etc) ###
/.imdone/
/.idea/
/.settings/
/.vscode/

### Build Process ###
/ui5/
/.tmp/
/.maps/
/.download/
/src/ui5/libs/*

### Dist Files ###
/dist/demo/
/dist/ui5/viz/themes/**/*.less

### Node ###
node_modules/
*.log
