### macOS ###
*.DS_Store

### IDE (Atom/Webstorm/etc) ###
/.imdone/
/.idea/
/.settings/
/.vscode/
/ui5-lib-visualization.iml


### Build Process ###
/dev/
/ui5/
/.tmp/
/.maps/
/.download/
/src/ui5/viz/libs/*

### Dist Files ###
/dist/demo/
/dist/ui5/**/resources/
/dist/ui5/viz/themes/**/*.less

### Node ###
node_modules/
*.log
