### macOS ###
*.DS_Store

### IDE (Atom/Webstorm/etc) ###
/.imdone/
/.idea/
/.settings/
/.vscode/

### Build Process ###
/dist/demo/
/ui5/
/.tmp/
/.maps/
/.download/


### Node ###
node_modules/
*.log

src/vendor-beta/
